:root{
    --gray:#DCCFCB;
    --green:#62B099;
    --brown: #684241;
    --white: #efefef;
    --black: #010101;
    --font-style1: 'Jost';
    --font-style2: 'Oxygen';
    --font-style3: 'Oxygen Mono';
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    background-color: var(--gray);
    font-family: var(--font-style2);
}

section{
    display: flex;
    max-width: 1200px;
    max-height: 90vh;
    justify-content: space-between;
    margin: 30px auto 20px;
    gap:12%;
}

section div{
    flex-basis:  25%  ;
}

section h2{
    font-family: var(--font-style1);
    font-size: 2rem;
    font-weight: 900w;
    margin: 0;
    padding: 0;
}

figure{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height:  28em;
    background-color: var(--brown);
    box-shadow: 9px 11px 0px -1px rgba(0,0,0,0.9);
    gap:4%;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    color: var(--white);
    align-self: flex-end;
    text-align: right;
    padding: 1rem;
  }
img{
    max-height: 20rem;
    width: 80%;
    margin: auto 0;
}

.middle{
    align-self: center;
}

.middle figure{
    background-color: var(--green);
}

.end figure{
    background-color: var(--black);
    box-shadow: 9px 11px 0px -1px rgba(0,0,0,0.6);
}
.end figure img{
    color: white;
    fill: currentcolor;
}
div figcaption:nth-child(1){
    font-family: var(--font-style3);
}

div:nth-child(even){
    position: relative;
    animation: top-anime 1s ease-in;
}
div:nth-child(odd){
    position: relative;
    animation: bottom-anime 1s ease-in;
}

@keyframes top-anime{
    from {top:-100px; opacity:0 } 
    to { top:0px; opacity:1 }
}
@keyframes bottom-anime{
    from {bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@media (max-width:550px) {
    section,.middle{
        display: block;
        margin: 2em 0;
    }
}